.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .task-details {
      width: 80%;
      max-width: 600px;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 8px;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
  
      .detail-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
  
        label {
          font-weight: bold;
          margin-right: 10px;
        }
  
        p {
          margin: 0;
        }
      }
    }
  }
  